<!DOCTYPE html>
<html>
<head>
  <title>HasSearcher</title>
  <%= stylesheet_link_tag    "has_searcher/application", :media => "all" %>
  <%= javascript_include_tag "has_searcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
